header{
    text-align: center;
    color: gold;
    font-size: 140%;
}

body {
    background-color: black;
    color:white;
    }

.image1 {
   height: 300px;
   left: 37%;
   position: absolute;
   top: 35%;
   width: 300px;
}

.image2 {
   height: 350px;
   left: 5%;
   position: absolute;
   top: 30%;
   width: 500px;
}

.image3 {
   height: 300px;
   left: 5%;
   position: absolute;
   top: 30%;
   width: 350px;
}

div.a {
    font-size: 140%;
    text-align: right;
    color: white;
    width: 550px;
    margin-top: 90px;
    margin-left: 600px;
    padding: 0 20px 20px 20px;
    border: 5px solid white;
}