header{
    text-align: center;
    color: gold;
}

body {
       background-color: black;
    }

img {
  
   height: 250px;
   left: 40%;
   position: absolute;
   top: 25%;
   width: 250px;
}

body{
    text-align: right;
    color: white;
}